/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --red-color: #dc3545;
  --green-color: #28a745;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== ACESS ===============*/
.acess {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.acess__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.acess__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 0%, 0.75);
  border: 2px solid hsl(0, 0%, 0%);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  backdrop-filter: blur(16px);
}

.acess__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.25rem;
}

.acess__inputs, 
.acess__box {
  display: grid;
}

.acess__inputs {
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.acess__box {
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
  position: relative;
  margin-bottom: 1.2rem;
}

.acess__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
  border: none;
  outline: none;
}

.acess__input::placeholder {
  color: var(--white-color);
  opacity: 0.5;
}

.acess__box i {
  font-size: 1.25rem;
  position: absolute;
  right: 1rem;
}

.acess__box.has-error i {
  color: var(--red-color);
}

.acess__box.has-success i {
  color: var(--green-color);
}

.acess__box .error-message,
.acess__box .success-message {
  font-size: var(--small-font-size);
  position: absolute;
  bottom: -20px;
  left: 1.5rem;
  color: var(--red-color);
  display: none;
}

.acess__box.has-error .error-message {
  display: block;
  color: var(--red-color);
}

.acess__box.has-success .success-message {
  display: block;
  color: var(--green-color);
}

.acess__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}

.acess__button:hover {
  opacity: 0.8;
}

.acess__register {
  font-size: var(--small-font-size);
  text-align: center;
}

.acess__register a {
  color: var(--white-color);
  font-weight: 500;
}

.acess__register a:hover {
  text-decoration: underline;
}

.acess__box.has-error {
  border-color: var(--red-color);
}

.acess__box.has-success {
  border-color: var(--green-color);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .acess {
    justify-content: center;
  }
  .acess__form {
    width: 420px;
    padding-inline: 2.5rem;
  }
  .acess__title {
    margin-bottom: 2rem;
  }
}
